<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Thank you</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
<style>
	.thumbnail{
		width:30%;
		margin:0 auto;
		color:#e0e0e0;
		background:#2C3E50;
		}
	.row{
		font-size:20px;
		word-wrap: break-word;
	margin-left:10px;}
	
	
</style>

</head>
<body>
<h1>Summary of <%=user.username%></h1>
<div class="thumbnail">
 <div class="row">
    			<div class="row"><span class="col-md-6 col-sm-12 col-xs-12">Username: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.username%></span></div>
    			<div class="row" ><span class="col-md-6 col-sm-12 col-xs-12">Level 1: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.lscore1%></span></div>
    			<div class="row" ><span class="col-md-6 col-sm-12 col-xs-12">Level 2: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.lscore2%></span></div>
    			<div class="row" ><span class="col-md-6 col-sm-12 col-xs-12">Level 3: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.lscore3%></span></div>
    			<div class="row" ><span class="col-md-6 col-sm-12 col-xs-12">Level 4: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.lscore4%></span></div>
    			<div class="row" ><span class="col-md-6 col-sm-12 col-xs-12">Total Score: </span><span class="col-md-6 col-sm-12 col-xs-12"><%=user.lscore%></span></div>
	    </div>
</div>

<a href="/" class="btn btn-block btn-lg" >Homepage</a>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
</body>
</html>


